.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body {
  width: 100%;
  height: 100%;
  background-color: grey;
}
.column {
  flex: 50%;
  padding: 10px;
}

.row {
  display: flex;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.navbar {
  font-family: "Gugi"
}

.selected {
  background: #CC6A4F;
}

.homepage {
  font-family: "Gugi"
}

.page-background {
  background-color:black;
  width:100%;
  height:100%;
}

/* APOD */
.apod-title {
  text-align: center;
  color: #CC6A4F;
  font-family: "Gugi";
  margin-top: 2%;
  margin-bottom: 2.5%;
}
.apod-img {
  width: 100%;
  height: 750px;
 }
.apod-info-title {
  text-align: center;
  color: #CC6A4F;
  font-family: Gugi;
  margin-top: 10%;
}
.apod-info-paragraph {
  text-align: left;
  color: grey;
  font-family: Titillium Web;
  font-size: x-large;
}
.apod-info-credit {
  text-align: right;
  color: #CC6A4F;
  font-family: Titillium Web;
  margin-top: 10%;
}
.apod-info-link {
  text-align: right;
  color: #CC6A4F;
}
/*  Persevereance */
.pers-title {
  text-align: center;
  color: #CC6A4F;
  font-family: "Gugi";
  margin-top: 2%;
  margin-bottom: 2.5%;
}
.pers-info-title {
  text-align: center;
  color: #CC6A4F;
  font-family: Gugi;
  margin-top: 1%;
}
.pers-info-paragraph {
  text-align: left;
  color: grey;
  font-family: Titillium Web;
  font-size: x-large;
}
.pers-info-detail-title {
  text-align: left;
  color: #CC6A4F;
  font-family: Titillium Web;
  font-size: x-large;
}
.pers-info-detail-facts {
  text-align: left;
  color: grey;
  font-family: Titillium Web;
  font-size: large;
}

.camera-button {
  background-color:#CC6A4F
}

.test {
  color: '#000'
}